body{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	background: #3e3e5c;
	align-items: top;
	justify-content: center;
}

$speed: 0.5s;

.btn-flip{
	
	opacity: 1;
	outline: 0;
	color: #fbf6f6;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans';
	text-transform: uppercase;

	
	&:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #1b1b7d;
		display: block;
        border-radius: 10px;
		transition: $speed;
		position: absolute;
		background: #f0f5f1;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		color: #fafffa;
		display: block;
		padding: 0 30px;
        border-radius: 10px;
		line-height: 40px;
		transition: $speed;
		position: relative;
		background: #323237;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
	}
}